<div class="container animated fadeInLeft faster" id="cont" (click)="sacarPonerHistoria()">
    <div class="jumbotron" style="padding:50px;">

        <form (ngSubmit)="ngSubmit( f )" #f="ngForm" class="modal-content animate">

            <div *ngIf="mostrarImagen; then imagenUrl; else imagenIcono">
                <!-- <img src=" ../../../assets/imagenes/login.png" alt="Smiley face "> -->
            </div>

            <!-- <ng-template #imagenIcono>
                <div class="imgcontainer">
                    <img src="{{urlFoto}}" alt="Smiley face ">
                </div>
            </ng-template> -->

            <div class="container">
                <p>qué se hizo:</p>
                <input type="text" placeholder="qué se hizo" [(ngModel)]="historia.descripcion" name="descripcion" required>
                <br>
                <p> tratamiento:</p>                
                    <select name="tratamiento" ngModel>
                      <option value="" disabled>Sin especificar</option>
                      <option *ngFor="let trat of tratamientos" [ngValue]="trat.name">
                        {{ trat.name }}
                      </option>
                    </select>
                  
 
                <button type="submit">Cargar Tratamiento</button><br>

            </div>

        </form>
    </div>
</div>