
.contenidoModalChico{
    color:black;
    text-align: center;
    width: 75%;
  }

  .contenidoModalDescripcion{
    color:black;
    text-align: center;
    width: 100%;

  }

#cont {
    position: fixed;
    top: 0px;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
}
