.cont{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.4);
    
        }
    
        .cuadrito{
            position:fixed;
            transform: translateX(-50%) translateY(-50%);
            top:50%;
            left:50%;
            width:50vw;
            height:50vh;
            background: white;
            color:black;
        }