<div class="calendario">
    <div class="filtros" *ngIf="usuarioLogueado.especialidad=='Recepcionista'"><b>filtros</b> medicos: <select id="medicos" (change)="cambioElSelect($event.target.value)">
          <option value="-1">Todos</option>
         <option *ngFor="let medico of ser.listaMedicos" value="{{medico.matriculaMedico}}" >{{medico.especialidad}} - ({{medico.matriculaMedico}}) {{medico.nombre}}</option>
        
    </select>
    </div>


    <div class="dia" *ngFor="let dia of dias"><b>{{dia.dia}}/{{dia.mes}}/{{dia.ano}}</b>
        <div class="turno" [class.ocupado]="turno.hasOwnProperty('turno')" *ngFor="let turno of dia.turnos" (click)="clickTurno($event, turno, dia)">
            <span *ngIf="turno.minutos==0">{{turno.hora}}:00 </span>
            <span *ngIf="turno.hasOwnProperty('turno') " class="turnoOcupado" >  </span>
        </div>
    </div>

</div>


<app-poner-historia-clinica *ngIf="mostrarPonerHistoriaClinica" (sacar)="sacarHistoriaClinica()"></app-poner-historia-clinica>

<app-pedirturno *ngIf="mostrarPedirTurno" (sacar)="sacarPedirTurno()" [fecha]="fechaClickeada"></app-pedirturno>

<app-ver-turno *ngIf="mostrarVerTurno" [turno]="turnoActivo" (sacar)="sacarVerTurno()"></app-ver-turno>

<!-- <app-poner-puntaje *ngIf="mostrarVerTurno"  [turno]="turnoActivo" (sacar)="sacarVerTurno()"></app-poner-puntaje> -->