<div class="cont" (click)="quitarPedirTurno($event)">

    <div class="cuadrito container">

        <h2> Pedir turno</h2>

        Médico: <select [(ngModel)]="matriculaMedico">
            <option *ngFor="let medico of listaMedicosLocal" value="{{medico.matriculaMedico}}">
                {{medico.especialidad}} - ({{medico.matriculaMedico}}) {{medico.nombre}}</option>
        </select>

        paciente: <input [(ngModel)]="dniUsuario"> <br>

        <button (click)="pedirTurno()"> pedir turno</button>

    </div>

</div>