<div class="container">
    <h1 style="text-align: center;">Alta de Paciente</h1><br>
</div>

<div class="container">
    <form (ngSubmit)="ngSubmit( f )" #f="ngForm" class="modal-content animate">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <label><b>Nombre</b></label>
                    <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">Nombre del paciente obligatorio</span><br>
                    <input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre" required><br>
                </div>
                <div class="col-sm">
                    <label><b>Dni del Usuario</b></label>
                    <span *ngIf="f.submitted && f.controls['dniUsuario'].errors" class="text-danger animated fadeIn">El dni es obligatorio</span><br>
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingresá el año" [(ngModel)]="usuario.dniUsuario" name="dniUsuario" maxlength="8" minlength="8" required><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <label><b>Email</b></label>
                    <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">La email es obligatorio</span><br>
                    <input type="text" placeholder="Ingresá la email" [(ngModel)]="usuario.email" name="email" required><br>
                </div>

                <div class="col-sm">
                    <label><b>Clave</b></label><br>
                    <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria, minimo 6 caracteres</span>
                    <input type="password" placeholder="Acá la clave" [(ngModel)]="usuario.password" name="password" minlength="6" required><br><br>
                </div>
            </div>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Cargar Usuario</button>
            </div>
        </div>
    </form>
</div>