<div class="container   ">
    <div  style="padding:2vw;">

        <form (ngSubmit)="ngSubmit( f )" #f="ngForm" class="modal-content ">

          

       
  

    

            <div class="container">
                <label><b>Email</b></label><br>
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger  ">El email es obligatorio</span>
                <input type="text" placeholder="Email" [(ngModel)]="usuario.email" name="email" required>

                <label><b>Clave</b></label><br>
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger  ">La contraseña es obligatoria</span>
                <input type="password" placeholder="Clave" [(ngModel)]="usuario.password" name="password" minlength="6" required>

                <button type="submit">Login</button><br>
                <!-- <app-mi-captcha (captcha)="ReconociendoCaptcha($event)"></app-mi-captcha> -->

                <input type="checkbox" [(ngModel)]="recordarme" name="remember-me">Recordarme <br>
            </div>


            <div class="container" >
                <button type="button" class="aceptbtn" routerLink="/Registro">Registrar Usuario</button>
                <!-- <span class="psw ">Te olvidaste <a href="# ">la clave?</a></span> -->
            </div>
        </form>

        <br>
        
<br><br>
<hr>
<div style="font-size:10px">
recepcionista: mario@gmail:123456<br>
odontologo: odonto@gmail:123456<br>
odontologo: jacinto@gmail:123456<br>
laboratorista: roberto@gmail:123456<br>
paciente: gisela@gmail:123456<br>

</div>
    </div>
</div>