<div class="navbar" *ngIf="taLogueado">
    <p>{{usuario.nombre.toUpperCase()}} - {{usuario.especialidad}}</p>

    
    <button (click)="mostrarBuscadorPorDni()" *ngIf="this.usuario.especialidad=='Odontologo' || this.usuario.especialidad=='Recepcionista' ">buscar paciente por dni</button>
    <!--<button *ngIf="this.usuario.especialidad=='Paciente'">boton para paciente</button>-->


    <button (click)="verCalendario()" *ngIf="this.usuario.especialidad=='Odontologo' || this.usuario.especialidad=='Recepcionista' ">calendario</button>


    

    <button (click)="logout()">logout</button>


</div>