.navbar{
    background:#287699;
}

p{
color:white;
}

.navbar button{
    width: 180px;
    margin: 10px;
    font-size: 13px;
    height: 47px;
    color:white;
    line-height: 11px;
    border: none;
    background:#054563;

}